*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Custom Properties */
:root {
    --primary-color: rgb(163, 156, 156);
    --secondary-color: rgba(255, 166, 0, 0.871);
    --tertiary-color: rgb(0, 0, 0);

    --ff-primary: monospace;
    --ff-secondary: sans-serif;
}

/* General Styles */

body {
    background: var(--primary-color);
    color: var(--ff-primary);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: 1.55vw;
    line-height: 1.9;
}

img {
    display: block;
    max-width: 100%;
}

/* Header */


header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    background-image: url("../assets/images/hero-p.avif");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a {
    color: var(--tertiary-color);
    text-decoration: none;
}

header nav {
    margin: 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 10px 15px;
    font-weight:lighter;
    font-size: 1.95vw;
}

/* General page layout */

h1,
h2 {
    line-height: 1.2;
    margin: 0;
}

.hero {
    background-image: url("../assets/images/hero-p.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 600px;
}

.hero-title {
    margin: 0;
    font-size: 30px;
}

.hero-title strong {
    display: block;
    font-weight: bolder;
    font-size: 40px;
}

.hero-title p {
    margin: .25em;
    font-size: 16px;
    padding: none;
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
    
}

