*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Custom Properties */
:root {
    --primary-color: rgba(255, 255, 255, 0.965);
    --secondary-color: rgba(255, 166, 0, 0.871);
    --tertiary-color: rgb(19, 19, 19);

    --ff-primary: monospace;
    --ff-secondary: sans-serif;
}

/* General Styles */

body {
    background: var(--tertiary-color);
    color: var(--primary-color);
    margin: 1.5;
    font-family: var(--ff-primary);
    font-size: 1.55vw;
    line-height: 1.9;
}

img {
    display: block;
    max-width: 100%;
}

/* Header */


header {
    padding: 10px 25px;
    background-color: var(--primary-color);
    background-image: url("../images/hero-p.avif");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    top: 0;
}

header a {
    color: white;
    text-decoration: none;
    display: flex;
    float: right;
}

header nav {
    margin: 5px 0;
}

header nav ul {
    list-style: none;
    float: right;
    text-align: right;
    display: flex;  
}

header nav ul li {
    padding: 10px 15px;
    font-weight:lighter;
    font-size: 20px;
}

/* General page layout / Hero */

h1,
h2 {
    line-height: 1.2;
    margin: 0;
 
}

.hero {
    background-image: url("../images/hero-p.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 600px;
  }

.hero-title h1 {
    font-size: 45px;
    color: white;
}

.hero-title strong {
    display: block;
    font-weight: bolder;
    font-size: 60px;
}

.hero-title p {
    margin: .25em;
    font-size: 25px;
    padding: none;
    color: white;
}

/* About Me */

.about-me {
    display: flex;
    padding: 15px 20px;
    align-content: center;
}

.about-me h2 {
    text-align: center;
    padding: 20px 25px;
}

.about-me p {
    max-width: 1000px;
    margin: 10px;
    float: left;
    text-align: left;
    margin: 5px 0 15px 0;
    display: flexbox;
}

.about-me img {
     margin: 10px;
     display: inline;
     max-width: 500px;
     max-height: 500px;
     align-items: flex-end;
}

/* Portfolio */

.my-work {
    background-color: rgb(67, 64, 64);
    text-align: center;
    padding: 15px 20px;
}

.my-work h2, p {
    text-align: center;
}

.work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 0 auto;
}

.work img {
    transition: transform 800ms cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 300ms linear;
}

.work img:hover {
    transform: scale(1.2);
    opacity: .80;
}

.site {
    overflow: hidden;
}

/* Reach Out */

.reach-out {
    text-align: center;
    padding: 3.0em 0;
}

.reach-out a {
    color: antiquewhite;
}

footer {
    padding: 2em;
    text-align: center;
}

@media screen and (max-width: 980px) {

    body {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        text-align: center;
        width: 100%;
        padding: 0;
        position: relative;
    }

    header nav ul {
        margin-top: 15px;
        width: 100%;
        justify-content: space-between;
    }

    header nav ul li {
        padding: 5px 10px;
        font-size: 1.95vw;
    }

    .reach-out {
        text-align: center;
        width: 100%;
    }

    .hero {
        text-align: center;
        width: 100%;
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 20px 30px;
    }

    .about-me {
        text-align: center;
        justify-content: center;
        flex: 100%;
        font-weight: 2vw;
    }

    .about-me h2 {
        font-size: 15px;
    }

    .my-work h2{
        font-size: 15px;
    }

    .my-work p {
        font-size: 10px;
    }

    .reach-out {
        font-size: 10px;
    }

    footer h2 {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 575px) {
    header {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .list li {
        margin-right: 10px;
    }

    .about-me {
        flex: 0 100%;
    }

    .about-me img {
        max-width: 250px;
        max-height: 250px;
    }

    .my-work h2 {
        font-weight: 2vw;
    }

    .my-work p {
        font-weight: 2vw;
    }

    .my-work img {
        max-width: 320px;
        max-height: 320px;
    }

}